*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --bg: linear-gradient(to right, #fbf83f, #ee0a0a);
    --border:1px solid  rgb(15, 15, 15);
    
}
body{
    background: var(--bg);
}

/* Header */


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom:var(--border);
    /* background-color: white; */
    background: var(--bg);


    position: sticky;
    top: 0;
    z-index: 10;

}
header .logo{
    height: 29px;
}
header .logo img{
    height: 100%;
    object-fit: contain;
}
header .search-box{
    width: 250px;
    background-color: rgba(239,239,239,1) ;
    padding: 3px 16px;
    display:flex;
    align-items: center;
    border-radius: 8px;
}
header .search-box input{
    height: 30px;
    border: none;
    outline: none;
    background-color: rgba(239,239,239,1) ;
    padding-left: 10px; 
    font-size: 15px;
    color: #8e8e8e;
}
header nav ul{
    list-style: none;
    display: flex;
}
header nav ul li{
    margin-right: 20px;
}
header nav ul li:last-child{
    margin-right: 0;
}
header nav ul li a img{
    width:22px;
    height: 22px;
    border-radius: 50%;
    object-fit: cover;
}
header nav ul li a{
    font-size: 22px;
    color: rgba(38,38,38,1);
}
/* Body Section */
section{
    padding: 30px 18%;
    /* background-color: #fafafa; */
    background: var(--bg);
    display: flex;


}
.left-side{
    width: 65%;
}
.story{
    display: flex;
    padding: 16px;
    background-color:var(--bg);
    /* border: 1px solid rgba(219,219,219,1); */
    /* background: linear-gradient(to right, #fbf83f, #ee0a0a); */
    /* overflow-x: scroll; */
    overflow: hidden;
    border-radius: 3px;
}
.stories{
    width: 17%;
    padding: 2px;
    
}
.stories a img{
    border-radius: 50%;
    border: 2px solid #ffd700;
    padding: 1px;
    object-fit: cover;

}
.stories p{
    width: 90%;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    color: #262626;
    font-size: 15px;
}
/* post */
.posts{
    margin: 25px 0;
    /* background-color: white; */
    /* background: linear-gradient(to right, #fbf83f, #ee0a0a); */
    

    border: var(--border);
    border-radius: 3px;
}
.post-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
.post-left{
    display: flex;
    align-items: center;
}
.profile-image img{
    margin-right: 15px;
    border-radius:50%;
    object-fit: contain;
}
.profile-name{
    padding-bottom: 2px;
    font-weight: bold;
}
.post-content img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.post-footer{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.post-footer-icons i{
    font-size: 22px;
    margin-right: 10px;
}
.post-save{
    font-size: 22px;

}
.post-footer-content{
    padding: 0 16px 16px 16px;
}
.footer-like{
    margin-bottom: 8px;
}
.footer-bio{
    font-weight: 600;

}
.follow{
    margin-left: 10px;
    font-weight: normal;

}
.post-time{
    font-size: 10px;
    margin-top: 6px;

}
.add-comment {
    padding: 16px;
    border-top: 1px solid #efefef;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.comment-left-side{
    display: flex;
    align-items: center;
}
.comment-left-side i{
    font-size: 22px;
    margin-left: 10px;
    margin-right: 15px;
} 

.comment-left-side input{
    width: 50%;
    outline: none;
    border: none;
    background:#fbf83f ;
    font-size: 14px;
    margin-right: 15px;
    border-radius: 30px;

}
#post-btn{
    background-color:#ee0a0a ;
    border: none;
    outline: none;
    padding: 0 10px;
    border-radius: 30px;


}
.right-side{
    width: 35%;
    margin-top: 15px;
    position: fixed;
    right: 30px;

}
.profile-title{
    display: flex;
    align-items: center;

}
.profile-left{
    display: flex;
    align-items: center;
    margin-right: 40px;

}


.right-profileimage img{
    border-radius: 50%;
    margin-right: 15px;

}
.right-profiledetails .name{
    padding-bottom: 3px;
}
.suggestions{
    display: flex;
    margin-top: 25px;
    margin-bottom: 20px;
}
.suggestions p{
    margin-right: 90px;

}
.suggestions p:last-child{
    margin-right: 0px;

}
.suggestion-title{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.suggestion-left{
    display: flex;
    align-items: center;
    margin-right: 60px;
}
.suggestion-profileimage img{
    border-radius: 50%;
    margin-right: 10px;

}
.suggestion-profiledetails{
    padding-bottom:3px ;
}
/* media Queries */
    @media  (max-width: 992px){
       header{
        padding: 10px 20px;
       }
       .left-side{
        width: 100%;
       } 
       .right-side{
        visibility: hidden;
       } 

    }
    @media  (max-width: 768px){
        .search-box{
            visibility: hidden;
        }
        section{
            padding: 30px 20px;
        }
    }
        
    @media  (max-width: 576px){
        .stories{
            width: 25%;
        }
        header nav ul li{
            margin-right: 10px;
        }
        header nav ul {
            margin-left: -150px;
        }
    }
    

    

    
